# playwright
.playwright-mcp/

# node_modules
node_modules/

# package json
package.json
package-lock.json

# vs code
.vscode/

# sass cache
.sass-cache

# prompts
tasks/prompts.md
tasks/

# work folders
data/
import/
src/
