{{! Template for loading tooltip while data is being fetched }}

<div class="setting-tooltip-loading">
    <sl-spinner style="font-size: 3rem;"></sl-spinner>
    <p><sl-icon name="hourglass-split"></sl-icon> Loading configuration data...</p>
</div>
