<span class="tab-setting-display">
{{#each parts}}
    {{#if @index}}
    <span class="tab-setting-separator-diagonal" data-from="{{from_color}}" data-to="{{to_color}}">
        {{#if show_dot}}<span class="tab-setting-dot">.</span>{{/if}}
    </span>
    {{/if}}
    <span class="tab-setting-path-element" data-color="{{color}}">{{#if is_section}}<span class="setting-bracket">[</span>{{/if}}{{text}}{{#if is_section}}<span class="setting-bracket">]</span>{{/if}}</span>
{{/each}}
</span>
