{{! Template for rendering the complete setting tag structure }}
{{! Conditionally displays v1 and/or v2 settings based on which attributes are provided }}

{{#if v1_path_html}}
{{! V1 section }}
{{#unless no_version}}<span class="setting-v1-label"></span>{{/unless}}
<span class="setting-separator-diagonal" data-from="black" data-to="{{v1_first_color}}"></span>
{{{v1_path_html}}}
{{/if}}

{{#if v1_path_html}}{{#if v2_path_html}}
{{! Vertical separator between v1 and v2 (only show if both exist) }}
<span class="setting-separator-vertical"></span>
{{/if}}{{/if}}

{{#if v2_path_html}}
{{! V2 section }}
{{#unless no_version}}<span class="setting-v2-label"></span>{{/unless}}
<span class="setting-separator-diagonal" data-from="black" data-to="{{v2_first_color}}"></span>
{{{v2_path_html}}}
{{/if}}
